---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Yudai Fukushima">
	<main>
		<h1>About Yudai Fukushima</h1>
		<p class="">
			Yudai Fukushima is a full-time software engineer living in Tokyo, Japan.  He has a master's degree in Engineerging, and is interested in various computer technologies.  
		</p>
		
	</main>
</Layout>
