---
import Social from './Social.astro'

const currentYear = new Date().getFullYear();
---

<footer class="fixed bottom-0 left-0 right-0 flex flex-col">
	<div class="flex flex-row justify-center p-10 w-full bg-zinc-200">
		<Social />
	</div>
	<div class="flex justify-center p-24 w-full bg-gray-700 text-slate-300">
		This site is maintained by<a href="/" target="_blank" rel="noopener">
		<span class="text-orange-400">Yudai Fukushima</span></a>using<a href="https://astro.build/" target="_blank" rel="noopener"><span class="text-orange-400">Astro</span></a>and hosted by<a href="https://www.netlify.com/" rel="noopener">Netlify</a>.
		&copy; {currentYear} Yudai Fukushima.
	</div>
</footer>
