---
import { Icon } from 'astro-icon';

---
<a href="https://github.com/granddaifuku/" aria-label="GitHub" rel="noopener" target="_blank">
	<Icon name="uil:github" />
</a>
<a href="https://twitter.com/granddaifuku" aria-label="Twitter" rel="noopener" target="_blank">
	<Icon name="mdi:twitter" />
</a>

<style>
 [astro-icon] {
	 color: black;
	 height: 24px;
 }
</style>

