---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE } from "../config";
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE} | Web Ninja`} slot="meta" />
  <Fragment slot="main">
	  <section class="mb-8">
		  <div class="mb-6">
			  <h1
				  class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
			  >
				  <span
					  class="
							 bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
							 from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
							 "
				  >
					  Work
				  </span>
			  </h1>
			  <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
		  </div>
		  <div>
			  <p>
				  I have experienced several internships when I was a student, and now I am working as a full-time software engineer mostly engaging in server side.
			  </p>
			  <ul class="mt-5">
				  <li>
					  <strong>LINE Corporation.</strong>
					  <p class="my-3">
						  <i>Apr 2023 - Present, Tokyo.</i><br>
						  Working full-time as a server side engineer.  
					  </p>
					  <br/>
				  </li>
				  <li>
					  <strong>Sorry cannot display the company's name due to the contract.</strong>
					  <p class="my-3">
						  <i>Aug 2021 - Mar 2023, Tokyo.</i><br>
						  Worked as a part-time server side engineer.
					  </p>
					  <ul>
						  <li>Designed and improved APIs.</li>
						  <li>Migrated services from perl to Go.</li>
						  <li>Automated several manual tasks (e.g., collecting data) by building a Go application.</li>
					  </ul>
					  <br/>
				  </li>
				  
				  <li>
					  <strong>Future Corporation.</strong>
					  <p class="my-3">
						  <i>Jun 2020 - Aug 2021, Tokyo.</i><br>
						  Worked as a part-time software engineer.<br>
					  </p>
					  <ul>
						  <li>Developed the web applications using Go.</li>
						  <li>Created the internal tools to monitor the cost of AWS cloud using Python.</li>
					  </ul>
					  <br/>
				  </li>
				  <li>
					  <strong>teamLab Inc.</strong>
					  <p class="my-3">
						  <i>Aug 19, 2019 - Aug 30, 2019, Tokyo.</i><br>
						  Joined two week software engineer internship as a server side engineer.
					  </p>
					  <ul>
						  <li>
							  Built a slack bot using Spring boot framework and MySQL.
						  </li>
					  </ul>
					  <br/>
				  </li>
			  </ul>
		  </div>

	  </section>
  </Fragment>
</PageLayout>
